<footer class="footer">
    <div class="container">
        <div class="footer--main">
            <div class="footer--main__info">
                <a href="#" class="brand-logo"><svg class="icon"><use xlink:href="#icon-logo"></use></svg></a>
                <a href="#" class="footer--main__link h5">+7 (343) 266-58-88</a>
                <a href="#" class="footer--main__link h5">info@nekko.ru</a>
            </div>
            <nav class="footer--main__nav">
                <div class="footer--main__nav-col">
                    <span class="h6">Компания</span>
                    <ul>
                        <li><a href="#">Сервисы и оборудование</a></li>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Пресс-центр</a></li>
                        <li><a href="#">Карьера</a></li>
                        <li><a href="#">Библиотека</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer--main__nav-col">
                    <span class="h6">Сервисы</span>
                    <ul>
                        <li><a href="#">Комплексная пластическая перфорация скважин</a></li>
                        <li><a href="#">Освоение скважин струйными насосами</a></li>
                        <li><a href="#">Интенсификация скважин</a></li>
                        <li><a href="#">Геологоразведочные работы</a></li>
                        <li><a href="#">Очистка и нормализация забоя скважин</a></li>
                        <li><a href="#">Селективные скважинные компоновки</a></li>
                    </ul>
                </div>
                <div class="footer--main__nav-col">
                    <span class="h6">Оборудование</span>
                    <ul>
                        <li><a href="#">Щелевая перфорация</a></li>
                        <li><a href="#">Прокалывающая перфорация (PIT)</a></li>
                        <li><a href="#">Струйные насосы</a></li>
                        <li><a href="#">Оборудование для нормализации забоя скважин</a></li>
                        <li><a href="#">Вспомогательное оборудование</a></li>
                        <li><a href="#">Компоновки</a></li>
                    </ul>
                </div>
            </nav>
            <a href="#" class="btn btn-outline-white">Сотрудничать<svg class="icon"><use xlink:href="#icon-arrowLink"></use></svg></a>
        </div>
        <div class="footer--copyright">
            <div class="footer--copyright__item">©  2003-2021 ООО «НЕККО»</div>
            <div class="footer--copyright__links">
                <a href="#">Политика конфиденциальности</a>
                <a href="#">Антикоррупционная политика</a>
            </div>
        </div>
    </div>
</footer>