<header class="header header--dark">
    <div class="container">
        <div class="header--main">
            <a href="#" class="brand-logo"><svg class="icon"><use xlink:href="#icon-logo"></use></svg></a>
            <div class="header--main__controls">
                <a href="#" class="header--main__link">+7 (343) 266-58-88</a>
                <a href="#" class="header--main__link">info@nekko.ru</a>
                <a href="#" class="header--main__search"><svg class="icon"><use xlink:href="#icon-search"></use></svg></a>
                <a href="#" class="header--main__lang">En</a>
                <a href="#" class="btn btn-outline-white">Обратная связь</a>
            </div>
        </div>
        <nav class="header--nav">
            <ul>
                <li class="menu-item-has-children">
                    <a href="#">Сервисы и оборудование</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">О компании</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Пресс-центр</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Карьера</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Библиотека</a>
                </li>
                <li>
                    <a href="#">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>
</header>