<section class="section js-section-opacity section--txt-white section--bg section--bg-dark section--map">
    <div class="container">
        <div class="section__title section__title-centered">
            <h2>Карта объектов</h2>
        </div>
    </div>
    <div class="container container-fluid">
        <div class="section--map__content">
            <div class="section--map__photo">
                <img src="img/map.png" alt="">
            </div>
            <div class="section--map__points">
                <img src="img/map-points.svg" alt="">
            </div>
        </div>
    </div>
</section>