<section class="section js-section-opacity section--txt-white section--bg section--bg-dark section--map">
    <div class="container section--map--title">
        <div class="section__title section__title-centered">
            <h2>Карта объектов</h2>
        </div>
    </div>
    <div class="container container-fluid section--map--content">
        <div class="section--map__content">
            <div class="section--map__photo">
                <img src="img/map.png" alt="">
            </div>
            <div class="section--map__points">
                <img src="img/map-points.svg" alt="">
                <ul class="section--map__points-list">
                    <li class="section--map__points-item section--map__points-item-1">
                        <button class="section--map__points-btn"></button>
                        <div class="section--map__points-tooltip">
                            <h5>Нефтекамск</h5>
                            <p>620142, Россия, Екатеринбург ул. 8 марта, 51 БЦ SUMMIT 2 этаж</p>
                            <a href="#">Показать на карте</a>
                        </div>
                    </li>
                    <li class="section--map__points-item section--map__points-item-2">
                        <button class="section--map__points-btn"></button>
                        <div class="section--map__points-tooltip">
                            <h5>Нефтекамск</h5>
                            <p>620142, Россия, Екатеринбург ул. 8 марта, 51 БЦ SUMMIT 2 этаж</p>
                            <a href="#">Показать на карте</a>
                        </div>
                    </li>
                    <li class="section--map__points-item section--map__points-item-3">
                        <button class="section--map__points-btn"></button>
                        <div class="section--map__points-tooltip">
                            <h5>Нефтекамск</h5>
                            <p>620142, Россия, Екатеринбург ул. 8 марта, 51 БЦ SUMMIT 2 этаж</p>
                            <a href="#">Показать на карте</a>
                        </div>
                    </li>
                    <li class="section--map__points-item section--map__points-item-4">
                        <button class="section--map__points-btn"></button>
                        <div class="section--map__points-tooltip">
                            <h5>Нефтекамск</h5>
                            <p>620142, Россия, Екатеринбург ул. 8 марта, 51 БЦ SUMMIT 2 этаж</p>
                            <a href="#">Показать на карте</a>
                        </div>
                    </li>
                    <li class="section--map__points-item section--map__points-item-5">
                        <button class="section--map__points-btn"></button>
                        <div class="section--map__points-tooltip">
                            <h5>Нефтекамск</h5>
                            <p>620142, Россия, Екатеринбург ул. 8 марта, 51 БЦ SUMMIT 2 этаж</p>
                            <a href="#">Показать на карте</a>
                        </div>
                    </li>
                    <li class="section--map__points-item section--map__points-item-6">
                        <button class="section--map__points-btn"></button>
                        <div class="section--map__points-tooltip">
                            <h5>Нефтекамск</h5>
                            <p>620142, Россия, Екатеринбург ул. 8 марта, 51 БЦ SUMMIT 2 этаж</p>
                            <a href="#">Показать на карте</a>
                        </div>
                    </li>
                    <li class="section--map__points-item section--map__points-item-7">
                        <button class="section--map__points-btn"></button>
                        <div class="section--map__points-tooltip">
                            <h5>Нефтекамск</h5>
                            <p>620142, Россия, Екатеринбург ул. 8 марта, 51 БЦ SUMMIT 2 этаж</p>
                            <a href="#">Показать на карте</a>
                        </div>
                    </li>
                    <li class="section--map__points-item section--map__points-item-8">
                        <button class="section--map__points-btn"></button>
                        <div class="section--map__points-tooltip">
                            <h5>Нефтекамск</h5>
                            <p>620142, Россия, Екатеринбург ул. 8 марта, 51 БЦ SUMMIT 2 этаж</p>
                            <a href="#">Показать на карте</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container section--map--controls">
        <h5>Компания NEKKO выполняет <br>
            нефтесервисные услуги в России.</h5>
        <a href="#" class="btn btn-white">Контакты<svg class="icon"><use xlink:href="#icon-arrowLink"></use></svg></a>
    </div>
</section>