<div class="modals-wrapper">
    <div class="modal" id="modalProject">
        <span class="h2">Заказать проект</span>
        <p>Оставьте заявку на проектирование - мы свяжемся с вами в ближайшее время.</p>
        <form>
            <div class="form-control__field">
                <input type="text" class="form-control">
                <div class="form-control__txt"><span class="form-control__title">Ваше имя</span></div>
            </div>
            <div class="form-control__field">
                <input type="tel" class="form-control">
                <div class="form-control__txt"><span class="form-control__title">Телефон</span></div>
            </div>
            <div class="form-control__field">
                <textarea class="form-control"></textarea>
                <div class="form-control__txt"><span class="form-control__title">Комментарий</span></div>
            </div>
            <div class="form-control__field">
                <button type="submit" class="btn btn-primary">Оставить заявку</button>
            </div>
            <span class="form-txt">Нажимая кнопку "Оставить заявку" вы принимаете
<br><a href="#">пользовательское соглашение</a> на обработку персональной информации</span>
        </form>
    </div>
    <div class="modal" id="modalQuestion">
        <span class="h2">У вас есть вопросы?</span>
        <p>Напишите нам - мы свяжемся с вами в ближайшее время и ответим на все вопросы.</p>
        <form>
            <div class="form-control__field">
                <input type="text" class="form-control">
                <div class="form-control__txt"><span class="form-control__title">Ваше имя</span></div>
            </div>
            <div class="form-control__field">
                <input type="tel" class="form-control">
                <div class="form-control__txt"><span class="form-control__title">Телефон</span></div>
            </div>
            <div class="form-control__field">
                <textarea class="form-control"></textarea>
                <div class="form-control__txt"><span class="form-control__title">Комментарий</span></div>
            </div>
            <div class="form-control__field">
                <button type="submit" class="btn btn-primary">отправить сообщение</button>
            </div>
            <span class="form-txt">Нажимая кнопку "отправить сообщение" вы принимаете
<br><a href="#">пользовательское соглашение</a> на обработку персональной информации</span>
        </form>
    </div>
    <div class="modal" id="modalProjectErrors">
        <span class="h2">Заказать проект</span>
        <p>Оставьте заявку на проектирование - мы свяжемся с вами в ближайшее время.</p>
        <form>
            <div class="form-control__field">
                <input type="text" class="form-control">
                <div class="form-control__txt"><span class="form-control__title">Ваше имя</span><span class="form-control__error">Заполните это поле</span></div>
            </div>
            <div class="form-control__field">
                <input type="tel" class="form-control">
                <div class="form-control__txt"><span class="form-control__title">Телефон</span><span class="form-control__error">Некорректный номер телефона</span></div>
            </div>
            <div class="form-control__field">
                <textarea class="form-control"></textarea>
                <div class="form-control__txt"><span class="form-control__title">Комментарий</span></div>
            </div>
            <div class="form-control__field">
                <button type="submit" class="btn btn-primary">Оставить заявку</button>
            </div>
            <span class="form-txt">Нажимая кнопку "Оставить заявку" вы принимаете
<br><a href="#">пользовательское соглашение</a> на обработку персональной информации</span>
        </form>
    </div>
    <div class="modal" id="modalError1">
        <div class="modal-info">
            <span class="modal-info__icon">
                <img src="img/check-mark.svg" alt="">
            </span>
            <span class="modal-info__txt">
                <span class="h2">Спасибо!</span>
                <p>Мы получили вашу заявку и скоро
с вами свяжемся.</p>
            </span>
        </div>
    </div>
    <div class="modal" id="modalError2">
        <div class="modal-info">
            <span class="modal-info__icon">
                <img src="img/check-mark.svg" alt="">
            </span>
            <span class="modal-info__txt">
                <span class="h2">Отправлено!</span>
                <p>Мы получили ваше сообщение
и скоро  с вами свяжемся.</p>
            </span>
        </div>
    </div>
</div>