<section class="section js-section-y-axis section--bg section--bg-light section--consult">
  <div class="container">
    <div class="section--consult__col">
      <div class="section--contact__content">
        <div class="section__title">
          <h2>Вам нужна
            консультация?</h2>
          <p>Напишите ваш вопрос и наши специалисты свяжуться
            с вами в течении рабочего дня.</p>
        </div>
        <a href="#" class="btn btn-primary">Поговорить с экспертом<svg class="icon"><use xlink:href="#icon-arrowLink"></use></svg></a>
      </div>
    </div>
    <div class="section--consult__col">
      <h6>Контакты для обратной связи</h6>
      <a href="#" class="h4">+7 (343) 266-58-88</a>
      <a href="#" class="h4">hr@nekko.ru</a>
      <a href="#" class="link">Политика конфиденциальности</a>
    </div>
  </div>
</section>