<section class="section js-section-y-axis section--bg section--contact">
    <div class="container">
        <div class="section--contact__content">
            <div class="section__title">
                <h2>Карьера</h2>
            </div>
            <div class="links-group">
                <a href="#" class="link link-base">Вакансии<svg class="icon"><use xlink:href="#icon-arrowLink"></use></svg></a>
                <a href="#" class="link link-base">Руководство<svg class="icon"><use xlink:href="#icon-arrowLink"></use></svg></a>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            <a href="#" class="h3">hr@nekko.ru</a>
            <a href="#" class="btn btn-dark">Контакты компании<svg class="icon"><use xlink:href="#icon-arrowLink"></use></svg></a>
        </div>
        <div class="section--contact__form">
            <div class="section--contact__form-content">
                <h3>Ваше резюме</h3>
                <form>
                    <div class="form-control__field">
                        <input type="text" class="form-control form-control--white" placeholder="Ваше имя*">
                    </div>
                    <div class="form-control__field">
                        <input type="text" class="form-control form-control--white" placeholder="Номер телефона*">
                    </div>
                    <div class="form-control__field">
                        <input type="text" class="form-control form-control--white" placeholder="Выберите специализацию">
                    </div>
                    <div class="form-control__field">
                        <label class="form-control form-control__file">
                            <input type="file">
                            <svg class="icon"><use xlink:href="#icon-attach"></use></svg>
                            Прикрепите резюме
                        </label>
                    </div>
                    <div class="form-control__field">
                        <button class="btn btn-white">Отправить резюме</button>
                    </div>
                    <div class="form-control__agreement">Нажимая на кнопку вы соглашаетесь с политикой обработки <a href="#">персональных данных</a></div>
                </form>
            </div>
        </div>
    </div>
</section>