.partners-block{
  .swiper-slide:first-child{
    .partners-block__link{
      &:after{
        left: 0;
      }
    }
  }
  &__link{
    display: block;
    position: relative;
    padding: 20%;
    z-index: 1;

    img{
      position: absolute;
      @include center(both);
      max-width: 60%;
      filter: grayscale(100%);
      opacity: .3;
      transition: $transition;
    }

    &:before{
      @include pseudoHeight(100%);
    }

    &:after{
      @include pseudo();
      pointer-events: none;
      top: 0;
      left: -1px;
      height: 100%;
      right: 0;
      border: 1px solid $outlineColor;
    }

    &:hover{
      img{
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }

  @include respond-below(sm){
    .swiper-slide{
      width: 200px;
    }
    &__link{
      padding: 30%;

      img{
        max-width: 40%;
      }
    }
  }
}

.section--contact{
  &:before{
    @include pseudo();
    top: 0;
    left: 0;
    bottom: 0;
    width: calc(50% + 302px);
    background: $light-bg;
  }

  .container{
    @include flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .links-group{
      margin-bottom: 30px;
    }

    p{
      margin: 0;
    }

    .h3{
      margin: 1em 0;
      &:first-child{
        margin-top: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  &__form{
    width: 44%;
    background: $primary;
    &:before{
      content: "";
      display: block;
      position: absolute;
      background: url(../img/decor/typical-white.png) no-repeat 0 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 60%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      transform: matrix(-1,0,0,1,0,0);
      opacity: .5;
    }

    &-content{
      padding: 64px 72px;

      color: #fff;

      .btn-white{
        z-index: 2;
        width: 100%;

        &:after{
          background: $dark-bg;
        }

      }



      .form-control{
        border-color: transparent;
        background: rgba(255, 255, 255, 0.2);
        color: #fff;

        @include input-placeholder {
          color: #fff;
        }

        &__agreement{
          font-size: 14px;
          font-weight: 400;
          display: block;

          a{
            color: inherit;
            border-bottom: 1px solid;
          }
        }
      }
    }
  }

  @include respond-below(md){
    &__content{
      width: 100%;
    }
    &__form{
      width: 100%;
      margin-top: 40px;

      &-content{
        padding: 30px 20px;
      }
    }
  }
}

.links-group{
  @include flex;
  margin: -19px;

  .link{
    margin: 19px;
  }
}

.innovative-slider{
  .swiper-slide.swiper-slide-active{
    .innovative-preview__photo img{
      transform: scale(1);
    }
  }
  .btn{
    position: absolute;
    bottom: 64px;
    right: 64px;
    z-index: 1;
  }

  @include respond-below(sm){
    .btn{
      bottom: 10px;
      right: 10px;
    }
  }
}

.innovative-preview{
  position: relative;
  overflow: hidden;

  &:before{
    @include pseudoHeight(38%);
  }

  &__photo{
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%);
    overflow: hidden;

    img{
      @include size(100%);
      object-fit: cover;
      transition: $transition-decor-slow;
      transform: scale(1.2);
      user-select: none;
    }
  }

  @include respond-below(sm){
    &:before{
      @include pseudoHeight(80%);
    }
  }
}

.services-slider{}

.services-row{
  @include flex;
  margin: -48px -16px;

  &__col{
    width: 50%;
    padding: 48px 16px;

    .services-preview__txt{
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 48px;
    }
    .services-preview{
      border-left: 0;
      border-right: 0;
      border-top: 0;
    }

    .projects-preview{
      height: 100%;
    }
  }

  @include respond-below(sm){
    &__col{
      width: 100%;
    }
  }
}

.services-preview{
  height: 100%;
  border: 1px solid $outlineColor;
  position: relative;
  display: flex;
  flex-direction: column;

  h4,.h4{
    transition: $transition;
    margin-bottom: .94em;
    width: 100%;
  }

  .link{
    position: static;
    margin-top: auto;

    &:before{
      @include pseudo();
      z-index: 3;
      top: 0;
      left: 0;
      @include size(100%);
    }
  }

  &__img{
    position: relative;
    overflow: hidden;

    &:before{
      @include pseudoHeight(57%);

    }
    img{
      @include img-cover;
      transition: $transition-decor;
      user-select: none;
    }
  }

  &__txt{
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
  }

  &:hover{
    h4,.h4{
      color: $primary;
    }
    .services-preview__img img{
      transform: scale(1.2);
    }
  }
}

.projects-slider{}

.projects-row{
  @include flex;
  margin: -48px -16px;

  &__col{
    width: 50%;
    padding: 48px 16px;

    .projects-preview{
      height: 100%;
    }
  }

  @include respond-below(sm){
    &__col{
      width: 100%;
    }
  }
}

.projects-preview{
  height: 100%;
  border-bottom: 1px solid $outlineColor;
  position: relative;
  display: flex;
  flex-direction: column;

  h4,.h4{
    transition: $transition;
    margin-bottom: .94em;
    width: 100%;
  }

  .link{
    position: static;
    margin-top: auto;

    &:before{
      @include pseudo();
      z-index: 3;
      top: 0;
      left: 0;
      @include size(100%);
    }
  }

  &__img{
    position: relative;
    overflow: hidden;

    &:before{
      @include pseudoHeight(57%);

    }
    img{
      @include img-cover;
      transition: $transition-decor;
      user-select: none;
    }
  }

  &__txt{
    padding: 32px 0 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
  }

  &:hover{
    h4,.h4{
      color: $primary;
    }
    .projects-preview__img img{
      transform: scale(1.2);
    }
  }
}

.equipment-row{
  @include flex;
  padding: -16px;

  &__col{
    width: calc(100% / 3);
    padding: 16px;

    .equipment-preview{
      border-bottom: 1px solid $outlineColor;
      padding-bottom: 48px;
    }
  }
}

.equipment-slider{}

.equipment-preview{
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  h4,.h4{
    transition: $transition;
    margin-bottom: .94em;
    width: 100%;
  }

  .link{
    position: static;
    margin-top: auto;

    &:before{
      @include pseudo();
      z-index: 3;
      top: 0;
      left: 0;
      @include size(100%);
    }
  }

  &__img{
    position: relative;
    overflow: hidden;
    transition: $transition-decor;
    margin-bottom: 32px;
    background: url(../img/decor/equipment-decor.png) no-repeat center $primary;
    background-size: cover;

    &:before{
      @include pseudoHeight(57%);

    }
    img{
      @include img-cover;
      object-position: bottom;
      padding-bottom: 28px;
      user-select: none;
      transition: $transition-decor;
    }
  }

  &__txt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
  }

  &:hover{
    h4,.h4{
      color: $primary;
    }
    .equipment-preview__img{
      background-color: $dark-bg;
      background-position: bottom;

      img{
        padding-bottom: 16px;
      }
    }
  }
}

.section--press{}

.press-slider{}

.article-preview{
  position: relative;
  background: $light-bg;
  transition: $transition;
  overflow: hidden;

  &:before{
    @include pseudoHeight(118%);
  }

  &__photo{
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%);
    opacity: 0;
    overflow: hidden;
    transition: $transition-decor;

    img{
      display: block;
      @include size(100%);
      object-fit: cover;
      transform: scale(1.2);
      transition: $transition-decor;
    }

    &:after{
      @include pseudo();
      background: linear-gradient(180deg, rgba(1, 4, 47, 0) 0%, rgba(1, 4, 47, 0.5) 100%);
      top: 0;
      left: 0;
      @include size(100%);
    }
  }

  &__txt{
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%);
    z-index: 1;
    pointer-events: none;
    padding: 48px;
    display: flex;
    flex-direction: column;
  }

  h5,.h5{
    transition: $transition;
    margin: auto 0 0;
  }

  &__date{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transition: opacity .6s ease, transform .6s ease;

    &-day{
      color: $title-color;
      transition: $transition;
      font-size: 120px;
      line-height: 1;
      font-weight: 300;
    }
  }
  
  &__link{
    color: $primary;
    pointer-events: auto;
    display: block;
    padding-top: 24px;
    margin-top: 32px;
    font-size: 16px;
    transition: $transition;
    border-top: 1px solid $outlineColor;
    
    &:hover{
      color: $title-color;
    }
  }

  &:hover{
    color: #fff;
    .article-preview__photo{
      opacity: 1;

      img{
        transform: scale(1);
      }
    }

    .article-preview__date{
      opacity: 0;
      transform: translateY(-250px);
    }
    .article-preview__link{
      border-color: #fff;

      &:hover{
        color: rgba(#fff,.5);
      }
    }
    .article-preview__link,h5,.h5,.article-preview__date-day{
      color: #fff;
    }
  }
}

.section--jumbotron{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &__video{
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%);
    object-fit: cover;
    overflow: hidden;

    video{
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 130%;
      transform: translateY(-50%);
      object-fit: cover;
    }
    &:after{
      @include pseudo();
      top: 0;
      left: 0;
      @include size(100%);
      background: $dark-bg;
      opacity: 1;
      transition: $transition-decor;

      body.loaded & {
        opacity: .7;
      }
    }
  }

  &.section{
    margin-top: 0;
    padding-top: 284px;
    background-attachment: fixed;
    background-position: top;
  }

  &.section--jumbotron-inner{
    min-height: 80vh;

    &:after{
      @include pseudo();
      background: url(../img/decor/typical-white.png) no-repeat 0% 0%;
      top: 0;
      right: 0;
      bottom: 0;
      width: 60%;
      background-size: cover;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      opacity: .5;
      filter: invert(1);
    }

    &.section--txt-white{
      &:after{
        filter: none;
      }
    }
  }

  &.section--txt-white{
    &:before{
      @include pseudo();
      top: 0;
      left: 0;
      @include size(100%);
      background: $dark-bg;
      opacity: 1;
      transition: $transition-decor;

      body.loaded & {
        opacity: .7;
      }
    }
  }

  .section__title{
    p{
      margin-bottom: 0;
    }
    .btn{
      margin-top: 72px;
    }
  }

  &__txt{
    @include flex;
    align-items: flex-start;
    justify-content: space-between;

    .section__title{
      width: 70%;

      p{
        max-width: 600px;
      }
    }

    .brand-logo{
      width: 160px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #C0C1CB;
      margin-top: 4.5em;

      .section--txt-white &{
        color: #474A64;
      }

      .icon{
        @include size(100%);
        display: block;
      }
    }
  }
}

.brand-logo{
  display: block;

  img,.icon{
    display: block;
    width: 100%;
  }
}

#magic-line {
  position: absolute;
  top: 0px;
  left: 0;
  width: 240px;
  height: 1px;
  background: currentColor;
  transition: all 0.3s;
}

.header{
  position: absolute;
  z-index: 99;
  color: #fff;

  &--nav{
    position: relative;
    padding-top: 32px;

    &:before{
      @include pseudo();
      border-top: 1px solid;
      opacity: .2;
      top: 0;
      left: 0;
      width: 100%;
    }

    ul{
      @include listReset;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a{
        color: inherit;
        display: block;


        &:hover{
          color: inherit;
        }
      }

      li.menu-item-has-children{
        &>a{
          &:after{
            content: '';
            border: 0.18em solid;
            display: inline-block;
            border-top-color: transparent;
            border-left-color: transparent;
            transform: rotate(
                            45deg
            );
            margin: -0.2em 0 0 0.5em;
            vertical-align: middle;
          }
        }
      }
    }
  }

  &--main{
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__link{
      color: inherit;
      margin-right: 32px;
      font-weight: 500;
    }

    &__lang{
      margin-left: 16px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
      padding: 15px 10px;
      min-width: 48px;
      border-radius: 50%;
      color: #fff;
      border: 1px solid rgba(#fff,.2);
      text-align: center;

      &:hover{
        color: #fff;
        border-color: #fff;
      }
    }

    &__search{
      margin-left: 16px;
      font-size: 20px;
      font-weight: 500;
      line-height: 1;
      min-width: 48px;
      height: 48px;
      border-radius: 50%;
      color: #fff;
      border: 1px solid rgba(#fff,.2);
      text-align: center;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover{
        color: #fff;
        border-color: #fff;
      }
    }

    &__controls{
      display: flex;
      align-items: center;
      justify-content: center;

      .btn{
        padding: 16px 24px;
        margin-left: 88px;
      }
    }

    .brand-logo{
      width: 160px;
      height: 40px;
      margin-right: auto;
      color: inherit;

      .icon{
        height: 100%;
      }
    }
  }

  &.header--dark{
    color: $title-color;
    .header--main{
      &__lang,&__search{
        color: $title-color;
        border-color: rgba($title-color,.2);

        &:hover{
          color: $title-color;
          border-color: $title-color;
        }
      }

      &__controls{
        .btn{
          &.btn-outline-white{
            color: $title-color;

            &:before{
              border-color: $title-color;
            }
            &:after{
              background: $title-color;
            }

            &:hover,&:active{
              color: #fff;
            }
          }
        }
      }
    }
  }

  @include respond-below(md){
    &--nav{
      display: none;
    }

    &--main{
      padding: 32px 0;

      &__link{
        display: none;
      }

      &__controls{
        .btn{
          display: none;
        }
      }
      .brand-logo{
        width: 100px;
      }
    }
  }
}

.section--map{
  &__content{
    position: relative;
  }
  &__photo{
    display: block;
    width: 100%;

    img{
      display: block;
      width: 100%;
    }
  }
  &__points{
    position: absolute;
    width: 51.4%;
    left: 16.3%;
    bottom: 4%;

    img{
      width: 100%;
    }
  }
}

.footer{
  background: $dark-bg;
  color: #fff;
  padding-top: 45px;
  position: relative;

  &:before{
    content: "";
    display: block;
    position: absolute;
    background: url(../img/decor/typical-white.png) no-repeat top left;
    top: 0;
    left: -10%;
    bottom: 0;
    width: 50%;
    background-size: cover;
    transform: matrix(-1,0,0,1,0,0);
    opacity: .5;
  }

  .h5,.h6{
    color: inherit;
    margin-top: 0;
    margin-bottom: 0;
  }

  &--main{
    padding: 80px 0;

    &__nav{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin: 80px 0;

      ul{
        list-style: none;
        padding: 0;
        margin: 32px 0;
        font-size: 16px;

        &:first-child{
          margin-top: 0;
        }
        &:last-child{
          margin-bottom: 0;
        }

        li{
          margin-top: 32px;

          &:first-child{
            margin-top: 0;
          }
        }
        a{
          opacity: .5;
          font-weight: 500;
          display: inline-block;
          vertical-align: top;
          color: inherit;

          &:hover{
            opacity: 1;
          }
        }
      }
    }

    &__info{
      display: flex;
      align-items: center;

    }

    &__link{
      font-size: 28px;
      margin-left: 110px;
      color: inherit;

      &:hover{
        opacity: .5;
      }
    }
    
    .brand-logo{
      color: #fff;
      width: 190px;
      height: 48px;

      .icon{
        height: 100%;
      }
    }
  }

  &--copyright{
    padding: 48px 0 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item{
      opacity: .5;
    }

    &__links{
      @include flex;
      align-items: center;
      justify-content: center;
      margin: -24px;

      a{
        color: inherit;
        margin: 24px;

        &:hover{
          opacity: .5;
        }
      }
    }
  }
}

.section--contacts-with-aside{
  .container{
    @include clearfix;
    margin-top: -80px;
    margin-bottom: -80px;
  }
  &__nav{
    ul{
      @include listReset;

      li{
        position: relative;
        padding-left: 26px;

        &:before{
          @include pseudo();
          top: 0.55em;
          left: 0;
          @include size(6px);
          background: #C0C1CB;
        }
      }

      li + li{
        margin-top: 1.77em;
      }
    }
  }
  &__sidebar{
    width: 45%;
    float: left;
    padding: 80px 0;
  }
  &__content{
    width: 54%;
    float: right;

    &-line{
      display: block;
      position: absolute;
      background: #E6E6EB;
      height: 1px;
      left: 0;
      width: 100%;
      bottom: 0;

      &-active{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background: $primary;
      }
    }

    &-item{
      padding: 80px 0;
      position: relative;

      .contacts-list{
        max-width: 470px;
      }

    }
  }
}

.contacts-list{
  @include listReset;


  li{
    position: relative;
    padding-left: 4.44em;

    & + li{
      margin-top: 2.66em;
    }

    p{
      margin: 0 0 1.33em;

      &:last-child{
        margin-bottom: 0;
      }

      a{
        margin: 0;
      }

    }

    &>a{
      font-size: 1.33em;
    }

  }
  &__icon{
    font-size: 2.66em;
    @include size(1em);
    border-radius: 50%;
    border: 1px solid $outlineColor;
    color: #C0C1CB;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;

    .icon{
      font-size: .3125em;
    }
  }
}

.gallery-row{
  @include clearfix;
  margin: -24px;

  &__col{
    width: calc(100% / 3);
    padding: 24px;
    float: left;

    &:nth-child(18n + 7){
      width: calc((100% / 3) * 2);
      float: right;

      .gallery-row__link:before{
        padding-bottom: calc(63% + 18px);
      }
    }
  }
  &__link{
    position: relative;
    display: block;
    overflow: hidden;
    .btn-icon{
      position: absolute;
      @include center(both);
      background: #fff;
      border-color: #fff;
      color: $title-color;
      margin: 0;

      .icon{
        font-size: .66em;
      }

    }

    img{
      @include img-cover;
      transition: $transition-decor;
    }

    &:before{
      @include pseudoHeight(63%);
    }

    &:hover{
      img{
        transform: scale(1.2);
      }
      .btn-icon{
        background: $primary;
        border-color: $primary;
        color: #fff;
      }
    }

  }
}

.section--filters{
  &.section{
    padding: 80px 0;
    margin-bottom: 0;

    & + .section{
      margin-top: 0;
    }
  }

  &__row{
    @include flex;
    margin: -24px;
  }

  &__col{
    padding: 24px;
    width: calc((100% - 176px) / 2);

    &.section--filters__controls{
      width: 176px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .btn{
        margin: 0;
        border-radius: 8px;
        width: 56px;
        height: 56px;
      }
    }
  }
}

.section--consult{

  &:after{
    content: "";
    display: block;
    position: absolute;
    background: url(../img/decor/typical-white.png) no-repeat 0 20%;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    background-size: cover;
    transform: matrix(-1,0,0,1,0,0);
    opacity: .2;
    filter: invert(1);
  }

  &.section--bg-dark{
    &:after{
      filter: none;
      opacity: .4;
    }
  }
  .container{
    @include flex;
  }

  &__col{
    width: 60%;

    &:nth-child(even){
      width: 40%;
    }
  }

  h6{
    margin-bottom: 2.6em;
  }
  .link{
    color: inherit;
    margin-top: 7em;
    border-bottom: 1px solid;

    &:hover{
      color: $primary;
    }
  }
}

.section--photo{
  overflow: hidden;
  background: $dark-bg;
  &.section{
    padding: 0;
  }

  .container{
    &:before{
      @include pseudoHeight(42%);
    }
    img{
      @include img-cover;
    }
    
    &:hover{
      .btn-icon{
        background: $primary;
        border-color: $primary;
        color: #fff;
      }
    }
  }

  .btn-icon{
    position: absolute;
    @include center(both);
    background: #fff;
    border-color: #fff;
    color: $title-color;
    margin: 0;
    z-index: 2;

    .icon{
      font-size: .66em;
    }

  }

  &.section--photo-video{
    .container-fluid:after{
      @include pseudo();
      top: 0;
      left: 0;
      @include size(100%);
      background: rgba($dark-bg,.2);
      z-index: 1;
    }

  }
}

.section--article{
  .section__txt{
    max-width: 900px;
    margin: 0 auto;
  }
}

.section--about{
  &__row{
    @include flex;
    margin: -50px;
  }
  &__text{
    width: 50%;
    padding: 50px;
  }
  &__group{
    width: 50%;
    padding: 50px;
    margin-bottom: -280px;

    &-item{
      border: 1px solid $outlineColor;

      &-content{
        padding: 64px;
        max-width: 528px;
        margin: 0 auto;
        position: relative;

        p{
          margin: 0;
        }
      }
      &-number{
        display: block;
        font-weight: 300;
        font-size: 84px;
        line-height: 1;
        margin-bottom: 24px;
        color: $title-color;
      }

      & + .section--about__group-item{
        border-top: 0;
      }
      
      &:first-child{
        border-color: transparent;
        background: linear-gradient(180deg, #00009C 0%, #0606C6 100%);
        color: #fff;

        .section--about__group-item-number{
          color: inherit;
        }
      }
    }
  }
}

.section--ceo{

  &:before{
    content: "";
    display: block;
    position: absolute;
    background: url(../img/decor/typical-white.png) no-repeat top left;
    top: 0;
    left: -10%;
    bottom: 0;
    width: 50%;
    background-size: cover;
    transform: matrix(-1,0,0,1,0,0);
    opacity: .5;
  }
  &__row{
    @include flex;
    margin: -50px;
  }
  &__txt{
    width: 50%;
    padding: 50px;

    h6{
      color: $base-color;
      margin-bottom: 2.6em;
    }

    .link{
      color: #fff;
      margin-top: 100px;

      .icon{
        color: inherit;
      }

      &:hover{
        color: #fff;
        opacity: .7;
      }
    }
  }
  &__photo{
    width: 50%;
    padding: 50px;
    margin-bottom: -280px;

    img{
      max-width: 80%;
    }

    .brand-logo{
      margin-top: 128px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 190px;
      height: 48px;

      .icon{
        @include size(100%);
      }
    }
  }
}